# Taco Delivery Prediction

## 1. Introduction
### 1.1 Project Objective
    This project aims to predict the delivery duration (in minutes) of taco orders using machine learning techniques. We'll compare the performance of various regression models and determine which one provides the most accurate predictions
### 1.2 Dataset
    The dataset was taken fully from Kaggle. Source: https://www.kaggle.com/datasets/atharvasoundankar/taco-sales-dataset-20242025

## 2. Imports and Setup

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 3. Load and Explore Data

In [12]:
df = pd.read_csv('data/taco_sales_data.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Order ID                 1000 non-null   int64
 1   Restaurant Name          1000 non-null   object
 2   Location                 1000 non-null   object
 3   Order Time               1000 non-null   object
 4   Delivery Time            1000 non-null   object
 5   Delivery Duration (min)  1000 non-null   int64
 6   Taco Size                1000 non-null   object
 7   Taco Type                1000 non-null   object
 8   Toppings Count           1000 non-null   int64
 9   Distance (km)            1000 non-null   float64
 10  Price ($)                1000 non-null   float64
 11  Tip ($)                  1000 non-null   float64
 12  Weekend Order            1000 non-null   bool
dtypes: bool(1), float64(3), int64(3), object(6)
memory usage: 94.9+ KB

In [14]:
df.head()

,Order ID,Restaurant Name,Location,Order Time,Delivery Time,Delivery Duration (min),Taco Size,Taco Type,Toppings Count,Distance (km),Price ($),Tip ($),Weekend Order
0,770487,El Taco Loco,New York,01-08-2024 14:55,01-08-2024 15:36,41,Regular,Chicken Taco,5,3.01,9.25,2.22,False
1,671858,El Taco Loco,San Antonio,23-11-2024 17:11,23-11-2024 17:25,14,Regular,Beef Taco,1,6.20,4.25,3.01,True
2,688508,Taco Haven,Austin,21-11-2024 20:24,21-11-2024 21:02,38,Large,Pork Taco,2,20.33,7.00,0.02,False
3,944962,Spicy Taco House,Dallas,21-09-2024 06:43,21-09-2024 07:28,45,Regular,Chicken Taco,2,3.00,5.50,1.90,True
4,476417,Casa del Taco,San Antonio,24-07-2024 11:01,24-07-2024 11:16,15,Large,Pork Taco,0,24.34,4.50,1.14,False

In [ ]:
df['Delivery Time'] = pd.to_datetime(df['Delivery Time'], format='%H:%M:%S').dt.time

In [ ]:
df.head()
# fix Delivery Time

,Order ID,Restaurant Name,Location,Order Time,Delivery Time,Delivery Duration (min),Taco Size,Taco Type,Toppings Count,Distance (km),Price ($),Tip ($),Weekend Order
0,770487,El Taco Loco,New York,01-08-2024 14:55,15:36:00,41,Regular,Chicken Taco,5,3.01,9.25,2.22,False
1,671858,El Taco Loco,San Antonio,23-11-2024 17:11,17:25:00,14,Regular,Beef Taco,1,6.20,4.25,3.01,True
2,688508,Taco Haven,Austin,21-11-2024 20:24,21:02:00,38,Large,Pork Taco,2,20.33,7.00,0.02,False
3,944962,Spicy Taco House,Dallas,21-09-2024 06:43,07:28:00,45,Regular,Chicken Taco,2,3.00,5.50,1.90,True
4,476417,Casa del Taco,San Antonio,24-07-2024 11:01,11:16:00,15,Large,Pork Taco,0,24.34,4.50,1.14,False